{{> mynav}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Mongo DB Scraper</h1>
    <p class="lead">Explore some scraped articles from the Player's Tribune</p>
  </div>
</div>
<div id="homeArticles" class="container">
    {{#each articles}}
        <div id={{this._id}} class="panel panel-default myArticle" data-myArticle={{this._id}}>
            <div class="panel-heading" style="background-image:{{this.image}} !important; background-size: cover; ">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2 class="myPanelHeading">
                    {{this.title}}
                </h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="panel-body">
                <p>
                    {{this.summary}}
                </p>
                <a href="{{this.link}}">{{this.link}}</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default save" data-article={{this._id}}>Mark as Interesting</button>
            </div>
        </div>
    {{/each}}
</div> <!-- container -->

<script src="/assets/javascript/index.js"></script>